<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Estatística geral</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de todas Opiniões
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form id="formBuscaGeral" name="formBuscaGeral" class="col-lg-12 col-md-12 col-xs-12 form-center">
                    <div class="form-label col-md-4 col-xs-12 no-padding-right">
                        <label class="nicelabel" for="lstBuscaFiltro">
                            Pesquisar por
                        </label>
                        <select class="form-control" id="lstBuscaFiltro" name="lstBuscaFiltro" required aria-label="filtro" ng-focus="opcaoBusca = ''">
                            <option value="nome_livro">Nome do Livro</option>
                            <option value="nome_usuario">Nome do usuário</option>
                            <option value="nota_livro">Nota</option>
                            <option value="estado_livro">Estado do livro</option>
                        </select>
                    </div>
                    <div id="filtro-nome_livro" class="filtro open form-label col-xs-12 col-md-8">
                        <label class="nicelabel" for="txtBuscaNome">
                            Nome do livro
                        </label>
                        <input ng-model="opcaoBusca.nome_livro" ng-focus="opcaoBusca = ''" type="text" class="form-control" id="txtBuscaNome" aria-label="Nome" placeholder="Digite o nome do livro" />
                    </div>
                    <div id="filtro-nome_usuario" class="filtro open form-label col-xs-12 col-md-8" style="display: none;">
                        <label class="nicelabel" for="txtBuscaNome">
                            Nome do usuário
                        </label>
                        <input ng-model="opcaoBusca.nome_usuario" ng-focus="opcaoBusca = ''" type="text" class="form-control" id="txtBuscaNome1" aria-label="Nome" placeholder="Digite o nome do usuário" />
                    </div>
                    <div id="filtro-nota_livro" class="filtro open form-label col-xs-12 col-md-8" style="display: none;" >
                        <label class="nicelabel" for="txtBuscaNome">
                            Nota do livro
                        </label>
                        <input ng-model="opcaoBusca.nota_livro" ng-focus="opcaoBusca = ''" type="number" class="form-control" id="txtBuscaNome2" aria-label="Nome" placeholder="Digite a nota do livro" />
                    </div>
                    <div id="filtro-estado_livro" class="filtro open form-label col-xs-12 col-md-8" style="display: none;" >
                        <label class="nicelabel" for="txtBuscaNome">
                            Estado do livro
                        </label>
                        <input ng-model="opcaoBusca.estado_livro" ng-focus="opcaoBusca = ''" type="number" class="form-control" id="txtBuscaNome3" aria-label="Nome" placeholder="Digite o estado do livro" />
                    </div>
                    <div class="both"></div>
                    <div class="form-label col-md-12 col-sm-12 col-xs-12 text-center">
                        <button class="btn btn-primary btn-form-search" type="submit" ng-click="pesquisarAvaliacoes();">
                            Pesquisar
                        </button>
                    </div>
                    <div class="both"></div>
                </form>
                <div id="search-result" class="col-lg-12 col-md-12 col-xs-12 form-center table-new-responsive table-result" ng-if="showDiv == true">
                    <div ui-grid="gridOptions1" ui-grid-pagination ui-grid-auto-resize ui-grid-pinning></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div
    id="modalInserirEditar"
    class="modal fade"
    role="dialog"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <span class="modalTipo"></span>
                </h4>
            </div>
            <form
                role="form"
                name="formInserirEditar"
                id="formInserirEditar"
            >
                <div class="modal-body">
                    <div
                        class="form-label col-md-12 col-sm-12 col-xs-12"
                    >
                        <label
                            class="nicelabel"
                            for="txtNome"
                        >
                        {{opiniao.observacao_opiniao}}
                        </label>
                    </div>
                </div>
                <div class="modal-footer text-center">
                  <input
                      id="cancel-create-department"
                      class="btn btn-default"
                      type="button"
                      value="Fechar"
                      data-dismiss="modal"
                  />
              </div>
          </form>
        </div>
    </div>
</div>
